    <div class="container">
    <% unless !!notice %>
        <p class="notice"><%= notice %></p>
    <% end %>
    <% unless !!alert %>
        <p class="alert"><%= alert %></p>
    <% end %>
    </div>