      <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">My Climb</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            <% if current_user %>
              <li class="nav-item active">
                <%= link_to 'Profile', current_user, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item active">
                <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>

            </ul>

          </div>
        </nav>
      </header>